###SublimeText###

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Ignore Sublime Files
MuseumAPI.sublime-workspace
MuseumAPI.sublime-project

# sftp configuration file
sftp-config.json


###SASS###

.sass-cache
*.css.map

### Gulp Files ###

node_modules/*/

